@tailwind base;
@tailwind components;
@tailwind utilities;

.links {
  @apply hover:text-white hover:p-1 hover:bg-secondary/5 hover:rounded-md cursor-pointer
}

.link {
  @apply hover:border-b-2 hover:border-textSecondary hover:p-1 hover:bg-secondary/5 cursor-pointer
}

.text {
  @apply text-sm lg:text-base font-urbanist leading-9 text-textPrimary
}

.sidenav {
  /* right: -500px;  */
  /* width: 300px; */
  height: 100vh;
  z-index: 999;
  /* Ensure the overlay is above other content */
}

.sidenav-open {
  right: 0;
  /* Slide in when open */
}

.carousel-indicators {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 0;
  z-index: 2;
}

.carousel-indicator-item {
  width: 15px;
  height: 15px;
  border: none;
  background: #2B8C34;
  /* opacity: 0.5; */
  margin: 0.2em;
  border-radius: 50%;
  cursor: pointer;
}

.active {
  background: #FFC508;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background:#CED5CF;  */
  z-index: 900;
  /* Ensure the overlay is above other content */
  cursor: pointer;
}

.slideStyles {
  width: "100%";
  height: "100%";
  border-radius: "10px";
  background-size: "cover";
  background-position: "center";
}

.rightArrowStyles {
  position: "absolute";
  top: "50%";
  transform: "translate(0, -50%)";
  right: "32px";
  font-size: "45px";
  color: "#fff";
  z-index: 1;
  cursor: "pointer";
}

.leftArrowStyles {
  position: "absolute";
  top: "50%";
  transform: "translate(0, -50%)";
  left: "32px";
  font-size: "45px";
  color: "#fff";
  z-index: 1;
  cursor: "pointer";
}

.sliderStyles {
  position: "relative";
  height: "100%";
}

.dotsContainerStyles {
  display: "flex";
  justify-content: "center";
}

.dotStyle {
  margin: "0 3px";
  cursor: "pointer";
  font-size: "20px";
}